[project]
name = "django-bulk-copy"
version = "0.1.1"
authors = [
  { name="Ahmet Burak Ozyurt", email="ahmetbozyurtt@gmail.com" },
]
description = "Faster way to create your models in Django"
readme = "README.md"
requires-python = ">=3.6"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/ahmetveburak/django-bulk-copy"
"Bug Tracker" = "https://github.com/ahmetveburak/django-bulk-copy/issues"

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"